# GCP Project Config
GCP_PROJECT_ID=
GCP_REGION=us-central1

# Firebase / Firestore
FIREBASE_DATABASE_URL=
GOOGLE_APPLICATION_CREDENTIALS=service-account.json

# AI APIs
GEMINI_API_KEY=

# Logistics
GOOGLE_MAPS_API_KEY=

# Actuation
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_NUMBER=
TARGET_WHATSAPP_NUMBER=
